body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#diagram{
    margin-top: 15vh;
    display: flex;
    width: 72vw;
    height: 65vh;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
}

.diagram-column{
    background: darkseagreen;
    width: 100px;
    transition: transform 1s ease-out;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-compare{
    background-color: red;
}

#sort{
    gap: 24px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-left{
    animation: moveColumnLeft 1s;
}

.move-right{
    animation: moveColumnRight 1s;
}

@keyframes moveColumnLeft {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(100% + 10px));
    }
}

@keyframes moveColumnRight {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 10px));
    }
}